@use './a.scss';
@use './b.scss';
@use './style/c.scss';

.app-child {
  @include b.b;
  @include c.c;

  /* background-image: url(./assets/logo.png); */
  height: a.$some-var;
  background-color: aquamarine;
  border: 1px solid blue;
}

.sky {
  background-image: url(~@images/sky.jpeg);
}

.fireman {
  background-image: url(~@images/fireman.webp);
}

.fireman {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

@media screen and (30em <= width <= 50em ) {
  body {
    background-color: green;
  }
}
